<h1>New Book</h1>
  <%= form_with model: @book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :opinion %>
    <%= f.submit 'Create Book' %>
  <% end %>