<div>
  <h1>Book detail</h1>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>Title:<%= @book.title %></p>
  <p>Opinion:<%= @book.opinion %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>